VITE_BRAND_NAME=your_organization_name
VITE_BRAND_DESCRIPTION=write_a_short_description_of_your_organization_here
VITE_DEV_NAME=your_name_or_company
VITE_DEV_URL=https://your-website.com
VITE_API_URL=https://api-your-website.com/api